services:
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - ${MONGO_PORT}:${MONGO_PORT}
    env_file:
      - .env
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - ${ME_PORT}:${ME_PORT}
    env_file:
      - .env
    depends_on:
      - mongo

volumes:
  mongo_data: